{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
    
    <h1>Modify your page</h1>

    <form action="{% url 'encyclopedia:editing' %}" method="POST">
        {% csrf_token %}
        <h5>Title:</h5>
        <textarea id="title" name="title">
        {{ title }}
        </textarea>
        <h5>Content:</h5>
        <textarea id="content" name="content">
        {{ content }}
        </textarea>
        <input type="submit">
    </form>
{% endblock %}